* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #585481;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  font-size: 8vmin;
  color: #bb0a21;
  background-color: #ff7d00;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #b3c5d7;
  /* box-shadow: 12px 12px 2px 1px rgba(187, 187, 195, 0.845); */
  border-radius: 0.5rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #b3c5d7;
  /* box-shadow: 12px 12px 2px 1px rgba(187, 187, 195, 0.845); */
  border-radius: 0.5rem;
  border: none;
}

#msg {
  color: #ffecd1;
  font-size: 8vmin;
}

.msg-container {
  height: 80vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hide {
  display: none;
}

.o-color {
  color: #bb0a21;
  border: 10px solid #012622;
}

.x-color {
  color: #012622;
  border: 10px solid #bb0a21;
}
